*{
    margin: 0;
    padding: 0;
}

html{
    background-color: bisque
}

#main{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 50% 50%;
    height: 100%;
}

.top{
    background: #007FFF;
}

.left{
    grid-column: 1;
}

.middle{
    position: relative;
    grid-column: 2;
    padding: 0;
    margin: 0;
}

.right{
    grid-column: 3;
}

.bottom{
    grid-column: 1 / 4;
    grid-row: 2;
    background: #5C3317;
}

.img{
    position: absolute;
}

.img.animated.bounceIn{
    animation-duration: 2s;
}

.img.animated.bounceOut{
    animation-duration: 0.5s;
}